@model SchoolSystem.Data.Grade

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GradesId" />
            <div class="form-group">
                <label asp-for="FirstMonth" class="control-label"></label>
                <input asp-for="FirstMonth" value="@Model.FirstMonth" class="form-control" />
                <span asp-validation-for="FirstMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mid" class="control-label"></label>
                <input asp-for="Mid" value="@Model.Mid" class="form-control" />
                <span asp-validation-for="Mid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondMonth" class="control-label"></label>
                <input asp-for="SecondMonth" value="@Model.SecondMonth" class="form-control" />
                <span asp-validation-for="SecondMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activity" class="control-label"></label>
                <input asp-for="Activity" value="@Model.Activity" class="form-control" />
                <span asp-validation-for="Activity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Final" class="control-label"></label>
                <input asp-for="Final" value="@Model.Final" class="form-control" />
                <span asp-validation-for="Final" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-dark" asp-action="Index" asp-route-teacherId="@Model.IdTeacher">Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
