@model IEnumerable<SchoolSystem.Models.LectuerViewModel>

@{
    ViewData["Title"] = "Manager Lectuer";
}
<br>
<br>
<br>
@foreach(var lectuer in Model){
<h1>Student Registered with the Lectuer: @lectuer.LectureName</h1>
<br>
<a class="btn btn-success" asp-controller="Lectuer" asp-action="CreateStudentLectuer" asp-route-idLectuer="@lectuer.IdLectuer">Add Student In Lectuer</a>
<a class="btn btn-dark" asp-action="Index">Back to List</a>
break;
}
<br>
@if (Model.Any(m => m.LectureName != null))
{

<table class="table">
    <hr/>
    <thead>
        <tr>
            <th>Student</th>
            <th>Class</th>
            <th>Teacher</th>
            <th>Optiones</th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var student in Model)
        {
            <tr >
                <td >
                    @{
                        var fullname = student.StudentName.Split(' ');
                        var firstName = fullname.FirstOrDefault();
                        var lastName = fullname.LastOrDefault();
                        if(fullname.Length > 1){
                            lastName = fullname.LastOrDefault();
                            <p>@firstName - @lastName</p> 
                        }else{
                            @firstName
                        }
                    }
                </td>
                <td >
                    @student.ClassroomName
                </td>
                <td >
                    @if(student.TeacherName != null){
                        var Teafullname = student.TeacherName.Split(' ');
                        var TeafirstName = Teafullname.FirstOrDefault();
                        var TealastName = Teafullname.LastOrDefault();
                        if(Teafullname.Length > 1){
                            TealastName = Teafullname.LastOrDefault();
                            <p>@TeafirstName - @TealastName</p> 
                        }else{
                            @TeafirstName
                        }
                        
                        
                    }else {
                        <a class="btn btn-success" asp-action="Create" asp-controller="TeacherLectuer" asp-route-idLectuer="@student.IdLectuer">@student.IdLectuer Add Teacher</a>
                    }
                </td>
                <td >
                    <a class="btn btn-danger delete" data-id="@student.Id">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
}else{
    
<tr>
    <td colspan="3" class="text-center">No students in this class.</td>
</tr>
}

<form asp-controller="StudentLectuer" asp-action="Delete" id="DeleteStudentLectuer" >
    <input type="hidden" name="id" id="studentlectuerid" />
</form>

@section Scripts {
    <script>
        $(function() {
            // تفعيل DataTable
            new DataTable('.table');
            
            // التعامل مع زر الحذف
            $('.delete').click(function(e) {
                e.preventDefault();

                var btn = $(this);
                var id = btn.data('id');

                // استخدام SweetAlert لتأكيد الحذف
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // وضع الـ id في الحقل المخفي
                        $('#studentlectuerid').val(id);

                        // تقديم النموذج
                        $('#DeleteStudentLectuer').submit();

                        // إظهار رسالة النجاح
                        Swal.fire({
                            title: "Deleted!",
                            text: "Teacher has been deleted.",
                            icon: "success"
                        });
                    }
                });
            });
        });
    </script>
}