@model SchoolSystem.Data.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Final)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Final)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdLectuerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdLectuerNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStudentNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStudentNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTeacherNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTeacherNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.GradesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
