@model List<SchoolSystem.Data.Attendance>

@{
    ViewData["Title"] = "Create Attendance";
}
<br>
<br>
<br>
<h1>Create Attendance Records</h1>
<hr />
<form action="Create" method="post">
    @Html.AntiForgeryToken()
    

    <table class="table">
        <thead>
            <tr>
                <th>Student Name </th>
                <th>Status</th>
                <th>Excuse</th>
            </tr>
        </thead>
        <tbody>@{
            int IdLectuer = ViewBag.IdLectuer;
            int IdTeacher = ViewBag.IdTeacher;
            int IdClass = ViewBag.IdClass;
            DateOnly DateAndTime = ViewBag.DateAndTime;
            for (int i = 0; i < ViewBag.Students.Count; i++)
            {
                
                var student = ViewBag.Students[i];
                if (student.Id != null)  // تحقق أولا
                {
                <tr>
                    <input type="hidden" name="Attendances[@i].IdLectuer" value="@IdLectuer" />
                    <input type="hidden" name="Attendances[@i].IdTeacher" value="@IdTeacher" />
                    <input type="hidden" name="Attendances[@i].DateAndTime" value="@DateAndTime" />
                    <input type="hidden" name="Attendances[@i].IdClass" value="@IdClass" />
                    <td>
                        @student.IdStudentNavigation.Name
                        <input type="hidden" name="Attendances[@i].IdStudent" value="@student.IdStudent" />
                    </td>
                    <td>
                        <select name="Attendances[@i].AttendanceStatus" class="form-control attendance-status">
                            <option value="1">Absent</option>
                            <option value="0">Present</option>
                            <option value="m">Excused</option>
                        </select>
                    </td>
                    <td> 
                        <input type="text" name="Attendances[@i].Excuse" class="form-control excuse-input" disabled />
                    </td>
                </tr>
            }}
            }
            
            
        </tbody>
    </table>

    <button type="submit" class="btn btn-success">Save Attendance</button>
    <a class="btn btn-dark" asp-action="Index" asp-route-teacherId="@ViewBag.IdTeacher">Back to List</a>
</form>

@section Scripts {
    <script>
        $(function() {
            // تفعيل DataTable
            new DataTable('.table');
        });
    </script>
    <script>
        $(document).ready(function () {
            $('.attendance-status').on('change', function () {
                var selected = $(this).val();
                var excuseInput = $(this).closest('tr').find('.excuse-input');

                if (selected === 'm') {
                    excuseInput.prop('disabled', false);
                } else {
                    excuseInput.prop('disabled', true).val('');
                }
            });
        });
    </script>
}
