@model SchoolSystem.Data.Attendance

@{
    ViewData["Title"] = "Edit Attendance";
}
<br>
<br>
<br>
<h4>Edit Attendance To: @ViewBag.NameStudent </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="IdStudent" value="@ViewBag.IdStudent" class="form-control" />
            <input type="hidden" asp-for="IdLectuer" value="@ViewBag.IdLectuer" class="form-control" />
            <input type="hidden" asp-for="IdTeacher" value="@ViewBag.IdTeacher" class="form-control" />
            <input type="hidden" asp-for="DateAndTime" value="@ViewBag.DateAndTime" class="form-control" />
            <div class="form-group">
                <label asp-for="AttendanceStatus" class="control-label"></label>
                <span asp-validation-for="AttendanceStatus" class="text-danger"></span>
                <select asp-for="AttendanceStatus" asp-items="ViewBag.Status" class="form-control attendance-status"></select>
            </div>
            <div class="form-group">
                <label asp-for="Excuse" class="control-label"></label>
                <input asp-for="Excuse" value="@ViewBag.Excuse" class="form-control excuse-input" disabled />
                <span asp-validation-for="Excuse" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
    $(document).ready(function () {
        // عند التغيير في قائمة الحضور
        $('.attendance-status').on('change', function () {
            var selected = $(this).val();  // الحصول على القيمة المختارة
            var excuseInput = $('.excuse-input');  // الحصول على حقل الإدخال لعذر الغياب

            if (selected === 'm') {  // إذا كانت القيمة المختارة هي "Excused"
                excuseInput.prop('disabled', false);  // تفعيل الحقل
            } else {
                excuseInput.prop('disabled', true).val('');  // تعطيل الحقل وإزالة أي قيمة موجودة
            }
        });
    });
</script>

}
