@model IEnumerable<SchoolSystem.Models.MenegarClassViewModel>

@{
    ViewData["Title"] = "Manager Studrnt";
}
<br>
<br>
<br>
<a class="btn btn-success" asp-controller="TheClass" asp-action="Create" asp-action="Create">Create New Class</a>
<a class="btn btn-dark" asp-action="Index">Back to List</a>
<table class="table">
    <hr/>
    <thead>
        <tr>
            <th>Class</th>
            <th>Number of students</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @foreach (var TheClass in Model)
        {
            <tr >
                <td >
                    @TheClass.ClassroomName
                </td>
                <td >
                    @TheClass.NumberOfStudents
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="TheClass" asp-action="Edit" asp-route-id="@TheClass.id">Edit</a>
                    <a class="btn btn-info" asp-action="ManagerMenegarStudentInClass" asp-route-idClass="@TheClass.id" >Stud Mgr</a> 
                    <a class="btn btn-danger delete" data-id="@TheClass.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="TheClass" asp-action="Delete" id="DeleteClass" >
    <input type="hidden" name="Id" id="classid" />
</form>

@section Scripts {
    <script>
        $(function() {
            // تفعيل DataTable
            new DataTable('.table');
            
            // التعامل مع زر الحذف
            $('.delete').click(function(e) {
                e.preventDefault();

                var btn = $(this);
                var id = btn.data('id');

                // استخدام SweetAlert لتأكيد الحذف
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // وضع الـ id في الحقل المخفي
                        $('#classid').val(id);

                        // تقديم النموذج
                        $('#DeleteClass').submit();

                        // إظهار رسالة النجاح
                        Swal.fire({
                            title: "Deleted!",
                            text: "Teacher has been deleted.",
                            icon: "success"
                        });
                    }
                });
            });
        });
    </script>
}