@model IEnumerable<SchoolSystem.Data.Student>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
}
<br>
<br>
<br>
@{
    var role = Context.Session.GetString("Role");
    var email = Context.Session.GetString("Email");
    if(role == "admin"){
        <h1>Students</h1>
        <p>
            <a class="btn btn-success" asp-action="Create">Create New Student</a>
        </p>

    }
    else{
        foreach(var item in Model){
            if(email == item.Email){
                <h1>Student: @item.Name</h1>
                
            }
        }
    }

}
<hr/>
<table class="table">
    <thead>
        <tr>
            <th  >
                Name
            </th>
            <th class="d-none d-sm-table-cell"  style="width: 20%;">
                Phone
            </th>
            <th >
                Email
            </th>
            <th >Avg</th>
            <th >Optioens</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    @if(email == item.Email){
        <tr>
            <td>
                @{
                    var fullname = item.Name.Split(' ');
                    var firstName = fullname.FirstOrDefault();
                    var lastName = fullname.LastOrDefault();
                    if(fullname.Length > 1){
                        lastName = fullname.LastOrDefault();
                        <p>@firstName - @lastName</p> 
                    }else{
                        @firstName
                    }
                }
            </td>
            <td class="d-none d-sm-table-cell">
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            
            <td >
                @{
                    if(item.Email != null){
                        var emailParts = item.Email.Split('@');
                        var emailName = emailParts[0];
                        var emailDomain = emailParts[1];
                        string visibleName = new string(emailName.Take(3).ToArray());

                        // الجزء الأخير من النطاق
                        var lastDomainPart = emailDomain.Split('.').Last();

                        // الطباعة في سطر واحد:
                        <text>@visibleName***@@***.@lastDomainPart</text>
                        } 
                }
            </td>
            <td>@ViewBag.Avg%</td>
            <td>
                @if(role == "admin"){
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                    <a class="btn btn-info" asp-action="ManagerStudentLectuer" asp-route-idstudent="@item.Id">Manager Lectuer</a> 
                    <a class="btn btn-danger delete" data-id="@item.Id">Delete</a>
                }else{
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Manager
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" asp-controller="Grades" asp-action="MarkStudent" asp-route-studentid="@item.Id">Marks</a></li>
                            <li><a class="dropdown-item" asp-action="AttendancesStudent" asp-controller="Attendance" asp-route-studentid="@item.Id">Attendance</a></li>
                        </ul>
                    </div>
                }
            </td>
        </tr>
    }else if(role=="admin"){
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-info" asp-action="ManagerStudentLectuer" asp-route-idstudent="@item.Id">Manager Lectuer</a> 
                <a class="btn btn-danger delete" data-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
}
    </tbody>
</table>

<form asp-action="Delete" id="DeleteStudent" >
    <input type="hidden" name="id" id="studentid" />
</form>

@section Scripts {
    <script>
        $(function() {
            // تفعيل DataTable
            new DataTable('.table');
            
            // التعامل مع زر الحذف
            $('.delete').click(function(e) {
                e.preventDefault();

                var btn = $(this);
                var id = btn.data('id');

                // استخدام SweetAlert لتأكيد الحذف
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // وضع الـ id في الحقل المخفي
                        $('#studentrid').val(id);

                        // تقديم النموذج
                        $('#DeleteStudent').submit();

                        // إظهار رسالة النجاح
                        Swal.fire({
                            title: "Deleted!",
                            text: "Student has been deleted.",
                            icon: "success"
                        });
                    }
                });
            });
        });
    </script>
}