@model IEnumerable<SchoolSystem.Data.TeacherClass>

@{
    ViewData["Title"] = "Index";
}
<br>
<br>
<br>
<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New Teacher In Class</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.IdClassNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTeacherNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.IdClassNavigation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTeacherNavigation.Name)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a class="btn btn-danger delete" data-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Delete" id="DeleteTeacherClass" >
    <input type="hidden" name="Id" id="teacherclassid" />
</form>

@section Scripts {
    <script>
        $(function() {
            // تفعيل DataTable
            new DataTable('.table');
            
            // التعامل مع زر الحذف
            $('.delete').click(function(e) {
                e.preventDefault();

                var btn = $(this);
                var id = btn.data('id');

                // استخدام SweetAlert لتأكيد الحذف
                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        // وضع الـ id في الحقل المخفي
                        $('#teacherclassid').val(id);

                        // تقديم النموذج
                        $('#DeleteTeacherClass').submit();

                        // إظهار رسالة النجاح
                        Swal.fire({
                            title: "Deleted!",
                            text: "Teacher in class has been deleted.",
                            icon: "success"
                        });
                    }
                });
            });
        });
    </script>
}